<h1>Sortable thing</h1>

<p><%= link_to "Create parent", new_parent_path %></p>

<p>Use drag and drop to sort things, reload page, notice order kept.</p>

<ol data-role="activerecord_sortable">
  <%= render @things %>
</ol>

<button onclick="window.location.reload();">Refresh</button>
